*{
    padding: 0;
    margin: 0;
    
}

body{
    background-color: #f4f4f4;
    width: 50%;
    margin: auto;
    
}
.header{
    width: 40px;
    height: 40px;
    padding: 10px;
    text-align: center;
    background-color: rgb(14, 121, 236);
    border-radius: 100%;
    color: #f4f4f4;
}

.bg-container{
    display: flex;
    flex-direction: column;
    
}

.bg{
    /* background-image: url(./Img/pexels-photo-442154.jpeg);
    background-size: cover;
    background-position: center; */
    width: 80%;
    height: 10vh;
    background-color: rgb(14, 121, 236); 
    padding: 80px;
    border-radius: 5px;
    margin-top: 10px;
}
.bg h4{
    font-size: 30px;
    color: #f4f4f4;
    text-align: ;
}

h4{
    color: #f4f4f4;
    font-size: large;
}
.bg-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #333;
    font-size: 15px;
    font-weight: 50px;
    width: 90%;
    padding: 30px;
    margin-bottom: 0;
}

.btn{
    background-color: rgb(14, 121, 236);
    color: #f4f4f4;
    border: none;
    margin-bottom: 10px;
    padding: 10px 15px;
    margin-left: 50px;
    border-radius: 10px;
    width: 100px;
}

.footer{
    width: 100%;
    color: #f4f4f4;
    text-align: center;
    
}
a{
color: #f4f4f4;
}

.copyright{
    text-align: center;
    color: #333;
}

@media (max-width: 425px) {
    body{
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .btn{
        align-self: center;
        margin-left: 0;
    }

    hr{
        text-align: end;
    }
}